<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>218828725526-1rb2sisdairednb20k2j79j53ogkfnp5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3IdtUlpOlwHVpNhxrvRNrMjljEsIbhlo</string>
	<key>GCM_SENDER_ID</key>
	<string>218828725526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.auditoriaWeb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hon-audit-48a6d</string>
	<key>STORAGE_BUCKET</key>
	<string>hon-audit-48a6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218828725526:ios:6ba6fc321d4837c3e58437</string>
	<key>DATABASE_URL</key>
	<string>https://hon-audit-48a6d.firebaseio.com</string>
</dict>
</plist>